In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv(r'dataset\adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [6]:
print("Size of Data" , df.size)

Size of Data 732630

In [8]:
# greater25 = df[df.age >= 25]
# greater25

In [9]:
# Check Whether duplicate data exist
check_dup = df.duplicated()
print("Any Duplicate Data Present ? ", check_dup.any())
if(check_dup.any()):
    print("Total Number of duplicate Data : " , check_dup.sum())
    df.drop_duplicates(inplace=True)
    print("duplicate data droped")

Any Duplicate Data Present ?  True
Total Number of duplicate Data :  52
duplicate data droped

In [10]:
df.replace('?',np.NaN,inplace=True)
print("Any null values ? \n", df.isnull().any())

Any null values ?
 age                False
workclass           True
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation          True
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country      True
income             False
dtype: bool

In [11]:
print("Total null values\n" , df.isnull().sum())

Total null values
 age                   0
workclass          2795
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2805
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      856
income                0
dtype: int64

In [12]:
dataset = df.dropna()

In [13]:
dataset.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [14]:
dataset.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,45175.000000,4.517500e+04,45175.000000,45175.000000,45175.000000,45175.000000
mean,38.556170,1.897388e+05,10.119314,1102.576270,88.687593,40.942512
std,13.215349,1.056524e+05,2.551740,7510.249876,405.156611,12.007730
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.173925e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783120e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.379030e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [15]:
dataset['age'] = dataset['age'].astype(float)
dataset['hours-per-week'] = dataset['hours-per-week'].astype(float)

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45175 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45175 non-null  float64
 1   workclass        45175 non-null  object
 2   fnlwgt           45175 non-null  int64
 3   education        45175 non-null  object
 4   educational-num  45175 non-null  int64
 5   marital-status   45175 non-null  object
 6   occupation       45175 non-null  object
 7   relationship     45175 non-null  object
 8   race             45175 non-null  object
 9   gender           45175 non-null  object
 10  capital-gain     45175 non-null  int64
 11  capital-loss     45175 non-null  int64
 12  hours-per-week   45175 non-null  float64
 13  native-country   45175 non-null  object
 14  income           45175 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 5.5+ MB

In [17]:
print('workclass',dataset.workclass.unique())

print('workclass',dataset.workclass.unique())
print('occupation',dataset.occupation.unique())
print('relationship',dataset.relationship.unique())
print('race',dataset.race.unique())
print('gender',dataset.gender.unique())
print('native-country',dataset['native-country'].unique())
print('predclass',dataset.income.unique())

workclass ['Private' 'Local-gov' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay']
workclass ['Private' 'Local-gov' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay']
occupation ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' 'Other-service'
 'Prof-specialty' 'Craft-repair' 'Adm-clerical' 'Exec-managerial'
 'Tech-support' 'Sales' 'Priv-house-serv' 'Transport-moving'
 'Handlers-cleaners' 'Armed-Forces']
relationship ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race ['Black' 'White' 'Other' 'Amer-Indian-Eskimo' 'Asian-Pac-Islander']
gender ['Male' 'Female']
native-country ['United-States' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
predclass ['<=50K' '>50K']

In [18]:
dataset['income'] = dataset['income'].map({'>50K' : 1 , '<=50K' : 0})

In [19]:
print('education',dataset.education.unique())

education ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' '5th-6th' 'Assoc-voc' '9th' 'Doctorate'
 '12th' '1st-4th' 'Preschool']

In [20]:
education_dir = {
    '11th' : 'dropout',
    'HS-grad' : 'HighGrad',
    'Assoc-acdm' : 'CommunityCollege',
    'Some-college' : 'CommunityCollege',
    '10th'  : 'dropout',
    'Prof-school' :'Masters',
    '7th-8th' : 'dropout',
    'Bachelors' : 'Bachelors',
    'Masters'  :'Masters',
    '5th-6th'  :'dropout',
    'Assoc-voc'  : 'CommunityCollege',
    '9th'  :'dropout',
    'Doctorate' :'Masters',
    '12th' :'dropout',
    '1st-4th' : 'dropout',
    'Preschool' :'dropout'
}
dataset['education'].astype(str)
dataset['education'] = dataset['education'].map(education_dir)

In [21]:
 print('marital-status',dataset['marital-status'].unique())

marital-status ['Never-married' 'Married-civ-spouse' 'Widowed' 'Separated' 'Divorced'
 'Married-spouse-absent' 'Married-AF-spouse']

In [22]:
marital_status_dir = {
    'Never-married' :'NotMarried',
    'Married-civ-spouse': 'Married',
    'Widowed': 'Widowed',
    'Separated': 'Separated',
    'Divorced':'Separated',
    'Married-spouse-absent' :'Married',
    'Married-AF-spouse' : 'Married'
}
dataset['marital-status'].astype(str)
dataset['marital-status'] = dataset['marital-status'].map(marital_status_dir)

In [23]:
dataset_copy = dataset.copy()

In [24]:
#Assigning the numeric values to the string type variables
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()
# number.fit(dataset['education'])
# number.transform(['dropout'])
dataset_copy['workclass'] = number.fit_transform(dataset_copy['workclass'])
dataset_copy['education'] = number.fit_transform(dataset_copy['education'])
dataset_copy['marital-status'] = number.fit_transform(dataset_copy['marital-status'])
dataset_copy['occupation'] = number.fit_transform(dataset_copy['occupation'])
dataset_copy['relationship'] = number.fit_transform(dataset_copy['relationship'])
dataset_copy['race'] = number.fit_transform(dataset_copy['race'])
dataset_copy['gender'] = number.fit_transform(dataset_copy['gender'])
dataset_copy['native-country'] = number.fit_transform(dataset_copy['native-country'])
dataset_copy['income'] = number.fit_transform(dataset_copy['income'])

In [25]:
dataset['capital-gain'].value_counts()

0        41385
15024      498
7688       391
7298       351
99999      229
         ...
1731         1
22040        1
7262         1
1639         1
2387         1
Name: capital-gain, Length: 121, dtype: int64

In [26]:
dataset.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802,dropout,7,NotMarried,Machine-op-inspct,Own-child,Black,Male,0,0,40.0,United-States,0
1,38.0,Private,89814,HighGrad,9,Married,Farming-fishing,Husband,White,Male,0,0,50.0,United-States,0
2,28.0,Local-gov,336951,CommunityCollege,12,Married,Protective-serv,Husband,White,Male,0,0,40.0,United-States,1
3,44.0,Private,160323,CommunityCollege,10,Married,Machine-op-inspct,Husband,Black,Male,7688,0,40.0,United-States,1
5,34.0,Private,198693,dropout,6,NotMarried,Other-service,Not-in-family,White,Male,0,0,30.0,United-States,0

In [27]:
dataset_copy.head(20)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,2,226802,4,7,1,6,3,2,1,0,0,40.0,38,0
1,38.0,2,89814,2,9,0,4,0,4,1,0,0,50.0,38,0
2,28.0,1,336951,1,12,0,10,0,4,1,0,0,40.0,38,1
3,44.0,2,160323,1,10,0,6,0,2,1,7688,0,40.0,38,1
5,34.0,2,198693,4,6,1,7,1,4,1,0,0,30.0,38,0
7,63.0,4,104626,3,15,0,9,0,4,1,3103,0,32.0,38,1
8,24.0,2,369667,1,10,1,7,4,4,0,0,0,40.0,38,0
9,55.0,2,104996,4,4,0,2,0,4,1,0,0,10.0,38,0
10,65.0,2,184454,2,9,0,6,0,4,1,6418,0,40.0,38,1
11,36.0,0,212465,0,13,0,0,0,4,1,0,0,40.0,38,0
12,26.0,2,82091,2,9,1,0,1,4,0,0,0,39.0,38,0
14,48.0,2,279724,2,9,0,6,0,4,1,3103,0,48.0,38,1
15,43.0,2,346189,3,14,0,3,0,4,1,0,0,50.0,38,1
16,20.0,5,444554,1,10,1,7,3,4,1,0,0,25.0,38,0
17,43.0,2,128354,2,9,0,0,5,4,0,0,0,30.0,38,0
18,37.0,2,60548,2,9,3,6,4,4,0,0,0,20.0,38,0
20,34.0,2,107914,0,13,0,12,0,4,1,0,0,47.0,38,1
21,34.0,2,238588,1,10,1,7,3,2,0,0,0,35.0,38,0
23,25.0,2,220931,0,13,1,9,1,4,1,0,0,43.0,28,0
24,25.0,2,205947,0,13,0,9,0,4,1,0,0,40.0,38,0

In [28]:
dataset_copy['age_bin'] = pd.cut(dataset_copy['age'] , 20)

In [29]:
dataset_copy['age_bin']

0        (24.3, 27.95]
1        (35.25, 38.9]
2        (27.95, 31.6]
3        (42.55, 46.2]
5        (31.6, 35.25]
             ...
48837    (24.3, 27.95]
48838    (38.9, 42.55]
48839    (57.15, 60.8]
48840    (20.65, 24.3]
48841    (49.85, 53.5]
Name: age_bin, Length: 45175, dtype: category
Categories (20, interval[float64]): [(16.927, 20.65] < (20.65, 24.3] < (24.3, 27.95] < (27.95, 31.6] ... (75.4, 79.05] < (79.05, 82.7] < (82.7, 86.35] < (86.35, 90.0]]

In [30]:
dataset_copy['hours-per-week_bin'] = pd.cut(dataset_copy['hours-per-week'] , 10)

In [31]:
dataset_copy[['income' , 'age']].groupby(['income'] , as_index = False).mean().sort_values(by = 'age' , ascending = False)

   income        age
1       1  44.006785
0       0  36.758926

In [32]:
dataset_copy[['income' , 'age']].groupby(['income']).mean().sort_values('age')

              age
income
0       36.758926
1       44.006785

In [33]:
dataset_copy.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_bin,hours-per-week_bin
0,25.0,2,226802,4,7,1,6,3,2,1,0,0,40.0,38,0,"(24.3, 27.95]","(30.4, 40.2]"
1,38.0,2,89814,2,9,0,4,0,4,1,0,0,50.0,38,0,"(35.25, 38.9]","(40.2, 50.0]"
2,28.0,1,336951,1,12,0,10,0,4,1,0,0,40.0,38,1,"(27.95, 31.6]","(30.4, 40.2]"
3,44.0,2,160323,1,10,0,6,0,2,1,7688,0,40.0,38,1,"(42.55, 46.2]","(30.4, 40.2]"
5,34.0,2,198693,4,6,1,7,1,4,1,0,0,30.0,38,0,"(31.6, 35.25]","(20.6, 30.4]"

In [34]:
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [35]:
dataset_copy = dataset_copy.apply(LabelEncoder().fit_transform)
dataset_copy.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_bin,hours-per-week_bin
0,8,2,18119,4,6,1,6,3,2,1,0,0,39,38,0,2,3
1,21,2,3913,2,8,0,4,0,4,1,0,0,49,38,0,5,4
2,11,1,23770,1,11,0,10,0,4,1,0,0,39,38,1,3,3
3,27,2,10474,1,9,0,6,0,2,1,96,0,39,38,1,7,3
5,17,2,15397,4,5,1,7,1,4,1,0,0,29,38,0,4,2

In [36]:
dataset_copy['age-hours'] = dataset_copy['age'] * dataset_copy['hours-per-week']
dataset_copy['age-hours_bin'] = pd.cut(dataset_copy['age-hours'] , 10)

In [37]:
df = dataset_copy.copy()

In [38]:
drop_elements = ['education', 'native-country', 'income', 'age_bin', 'age-hours_bin','hours-per-week_bin']
y = df["income"]
X = df.drop(drop_elements, axis=1)
X.head()

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,age-hours
0,8,2,18119,6,1,6,3,2,1,0,0,39,312
1,21,2,3913,8,0,4,0,4,1,0,0,49,1029
2,11,1,23770,11,0,10,0,4,1,0,0,39,429
3,27,2,10474,9,0,6,0,2,1,96,0,39,1053
5,17,2,15397,5,1,7,1,4,1,0,0,29,493

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,train_size=0.6, random_state=0)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

In [41]:
X_train

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,age-hours
0,0.110619,-0.213909,0.706140,1.134596,-0.888531,-0.745871,-0.879874,0.388095,0.690558,-0.280326,-0.206034,-0.078663,0.035533
1,1.321418,1.884539,-1.690583,1.134596,-0.888531,-0.745871,-0.879874,0.388095,0.690558,-0.280326,-0.206034,-1.770512,-0.229262
2,0.867368,-2.312358,-1.717765,1.527067,-0.888531,1.490862,-0.879874,0.388095,0.690558,-0.280326,-0.206034,-0.078663,0.697521
3,-0.419106,-0.213909,-0.851817,1.134596,-0.888531,-0.745871,-0.879874,0.388095,0.690558,-0.280326,-0.206034,0.344300,-0.292066
4,0.488994,-0.213909,0.101838,0.742125,1.513587,-0.994397,-0.255097,0.388095,0.690558,-0.280326,-0.206034,-0.078663,0.366527
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27100,-0.343431,-0.213909,0.046536,0.742125,1.513587,-1.491449,-0.255097,-2.004020,0.690558,-0.280326,-0.206034,-0.078663,-0.361659
27101,0.110619,1.884539,-1.097394,-0.042816,-0.888531,0.745284,-0.879874,0.388095,0.690558,-0.280326,-0.206034,1.613186,0.816340
27102,0.867368,-0.213909,-0.082680,-0.435287,-0.888531,-0.248819,-0.879874,0.388095,0.690558,-0.280326,-0.206034,-0.078663,0.697521
27103,-0.797481,-1.263134,-0.072905,0.742125,0.312528,-1.491449,-0.255097,0.388095,-1.448104,-0.280326,-0.206034,-0.078663,-0.758852
27104,-0.116406,-0.213909,-0.085224,0.349654,0.312528,-0.248819,-0.255097,0.388095,0.690558,-0.280326,-0.206034,-0.078663,-0.163063

In [42]:
from sklearn import linear_model
from collections import Counter
#from pandas.plotiing import scatter_matrix
from sklearn.linear_model import LogisticRegression # logistic regression
from sklearn import svm # support vector machine
from sklearn.ensemble import RandomForestClassifier #Random_forest
from sklearn.tree import DecisionTreeClassifier #Decision tree
from sklearn.naive_bayes import GaussianNB #Naive_bayes
from sklearn.neighbors import KNeighborsClassifier #K nearest neighbors
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [43]:
# Decision Tree
DT = DecisionTreeClassifier()
DT.fit(X_train,y_train)
y_pred = DT.predict(X_test)
score_DT = DT.score(X_test,y_test)
print("The accuracy of the Decision tree model is ",score_DT)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the Decision tree model is  0.8050913115661317
              precision    recall  f1-score   support

       <=50k       0.87      0.87      0.87     13590
        >50k       0.60      0.62      0.61      4480

    accuracy                           0.81     18070
   macro avg       0.74      0.74      0.74     18070
weighted avg       0.81      0.81      0.81     18070

In [44]:
# K-Nearest Neighbors
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
score_knn = knn.score(X_test,y_test)
print('The accuracy of the KNN Model is',score_knn)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the KNN Model is 0.8353071389042612
              precision    recall  f1-score   support

       <=50k       0.88      0.90      0.89     13590
        >50k       0.68      0.63      0.65      4480

    accuracy                           0.84     18070
   macro avg       0.78      0.77      0.77     18070
weighted avg       0.83      0.84      0.83     18070

In [45]:
from sklearn.svm import SVC
svc = SVC(gamma=0.22)
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
score_svc = svc.score(X_test,y_test)
print('The accuracy of SVC model is', score_svc)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of SVC model is 0.8525179856115108
              precision    recall  f1-score   support

       <=50k       0.87      0.95      0.91     13590
        >50k       0.78      0.57      0.66      4480

    accuracy                           0.85     18070
   macro avg       0.82      0.76      0.78     18070
weighted avg       0.85      0.85      0.84     18070

In [46]:
# Logistic Regression
LR = LogisticRegression()
LR.fit(X_train, y_train)
y_pred = LR.predict(X_test)
score_LR = LR.score(X_test,y_test)
print('The accuracy of the Logistic Regression model is', score_LR)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the Logistic Regression model is 0.8344770337576093
              precision    recall  f1-score   support

       <=50k       0.86      0.93      0.89     13590
        >50k       0.72      0.54      0.62      4480

    accuracy                           0.83     18070
   macro avg       0.79      0.73      0.76     18070
weighted avg       0.83      0.83      0.83     18070

In [47]:
# Random Forest Classifier
RF = RandomForestClassifier()
RF.fit(X_train, y_train)
y_pred = RF.predict(X_test)
score_RF = RF.score(X_test,y_test)
print('The accuracy of the Random Forest Model is', score_RF)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the Random Forest Model is 0.8542335362479248
              precision    recall  f1-score   support

       <=50k       0.88      0.93      0.91     13590
        >50k       0.75      0.62      0.68      4480

    accuracy                           0.85     18070
   macro avg       0.82      0.78      0.79     18070
weighted avg       0.85      0.85      0.85     18070

In [48]:
tabular_form = {'CLASSIFICATION':['LogisticRegression','SupportVectorClassifier','RandomForestClassifier','DecisionTree','K-NearestNeighbors'],
                'ACCURACY':[score_LR,score_svc,score_RF,score_DT,score_knn]
                }
Tabular_form = pd.DataFrame(tabular_form,columns= ['CLASSIFICATION','ACCURACY'])
print(Tabular_form)

            CLASSIFICATION  ACCURACY
0       LogisticRegression  0.834477
1  SupportVectorClassifier  0.852518
2   RandomForestClassifier  0.854234
3             DecisionTree  0.803597
4       K-NearestNeighbors  0.835307

In [50]:
from texttable import Texttable
# texttable takes the first reocrd in the list as the column names
# of the table
l = [["CLASSIFICATION", "ACCURACY"],['LogisticRegression',score_LR],['SupportVectorClassifier',score_svc],['RandomForestClassifier',score_RF],['DecisionTree',score_DT], ['K-NearestNeighbors',score_knn]]
table = Texttable()
table.add_rows(l)
print(table.draw())

+-------------------------+----------+
|     CLASSIFICATION      | ACCURACY |
+=========================+==========+
| LogisticRegression      | 0.834    |
+-------------------------+----------+
| SupportVectorClassifier | 0.853    |
+-------------------------+----------+
| RandomForestClassifier  | 0.854    |
+-------------------------+----------+
| DecisionTree            | 0.804    |
+-------------------------+----------+
| K-NearestNeighbors      | 0.835    |
+-------------------------+----------+